body {
  font-size: 16px;
  color: black;
  background-color: #f6b319;
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}

/** HEADER **/
#header-nav {
  background-color: #006eff;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  height:75px;
}
.navbar-brand h1 {
  font-family: 'Dosis', sans-serif;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
  background: gray;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
  background-color: #ffd87d;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}
/* END HEADER */


/* HOME PAGE */
.container{
  text-align: center;
}

.food {
  height: 1000px;
  margin:0 5px;
  position: relative;
  border: 2px solid #3F0C1F;
  border-radius:5px;
  overflow: hidden;
  background-color: #ffd87d;
}
/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 68px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 15px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  /* End Header */


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}