<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tales from the Gato - A home-made Blog</title>
</head>
<body>
<navbar>
    <a href='/'>Home</a>
    <a href='/'>Newest Post</a>
    <a href='/'>About</a>
    <h1>Tales from the Gato</h1>
    <p>Keeping track of the path from beer guy to Web Developer...One lame blogpost at a time</p>

    {% for index in blog_index %}
        <h2>{{index}}:{{titles[index]}}</h2>
        <p>{{contents[index]}}</p>
    {% endfor%}

    <form action='/' method="POST">
        {{template_form.hidden_tag()}}
        {{template_form.my_title.label}}
        {{template_form.my_title()}}
        {{template_form.my_contents.label}}
        {{template_form.my_contents()}}
        {{template_form.my_submit()}}
    </form>

</body>
</html>