html, body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    text-align: center;
    background-color: hsla(71, 15%, 48%, .5);
}

#header {
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 150px;
    background-color: #7b20a6;
    justify-content: space-evenly;
}
.header-link-left {
    grid-column: 2 / span 1;
    margin-top:-50px;
}
.header-link-right {
    grid-column: 4 / span 1;
    margin-top:-50px;
}

#header a:link {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 2px 2px #2d2c2a;
    text-decoration: none;
}
#header a:visited {
    color:white;
}
#header-logo {
    grid-column: 3 / span 1;
}
#logo {
    height:300px;
}

main {
    margin-top: 150px;
}

.product-box {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 80%;
    margin:auto;
}
.product-image {
    grid-column: 1 / span 1;
}
.product-image img {
    width: 80%;
}
.product-description {
    grid-column: 2 / span 1;
    text-align: left;
}

.about-box {
    width: 80%;
    margin: auto;
}
.about-box img {
    width: 30%;
}

footer {
    margin-left: 25px;
    margin-top: 50px;
    text-align: left;
    font-size: .75rem;
}