.header {
    width: 100%;
    display: block;
    text-align: center;
    height: 175px;
    background-color: #2ec4b6;
    
}
#header-logo {   
    width: 40%;
    min-height: 135px;
    float: left;
    text-align: center;
}
    #logo {
        height: 175px;
    }
#header-nav {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 125px;
}
    #header-nav ul {
        display:inline-flex;
        font-size: 20px;
        font-weight:100;
        text-align:center;
        list-style-type: none;
        padding: 0;
        width: 100%;
    }
        #header-nav ul li {
            display: inline;
            width: 100%;
        }

.infoBox {
    width: 30%;
    position: relative;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}
    .infoBox img {
        position: relative;
        width: 100%;
        
        z-index: 1;
        transition: filter 250ms;
    }
    .infoBox .showButton {
        display: block;
        margin: 10px auto;
    }
    .infoBox .stuffAbout {
        font-family: 'Work Sans', sans-serif;
        visibility: hidden;
        position: absolute;
        width: 250px;
        top: 75px;
        left: calc(50% - 125px);
        color: white;
        z-index: 2;
        transition: visibility 100ms ease-in;
    }
    .infoBox .stuffAbout ul{
        width: 75%;
        padding-left: 0;
        margin: 10px auto;
        text-align: center;
        list-style: none;
    }