<!DOCTYPE html>
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block head %}

{% endblock %}
</head>
<body>
<h1>Welcome to the Grey Gato Tavern</h1>
<nav class="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'staff' %}">Staff</a></li>
        <li><a href="{% url 'about' %}">About/Contact</a></li>
    </ul>
</nav>
{%block content%}

{%endblock%}

</body>

</html>
