:root {
    --background-color: antiquewhite;
    --white: whitesmoke;
}
body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
    width: 90%;
    align-items: center;
}

header {
    width: 100%;
}
#navBar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
}

#navBar li {
    position: relative;
    display: inline-block;
    flex: 0 1 150px;
    list-style: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

#navBar li:hover {
    color:darkslategray;
}

#jumbotron {
    position: relative;
    display: inline-block;
    flex: 5 0 300px;
    height: 40vw;
    
}
#jumbotron::before {
    content: "";
    position: absolute;
    background-image: url('../images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .3;
    z-index: 0;
}
#rotatingImage {
    margin: 20px 0;
    position: relative;
    max-height: 35vw;
    opacity: 1;
    z-index: 1;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 3px 3px 3px darkslategray;
}

aside {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    background-color: var(--white);
    margin: 10px;
    border: 1px solid darkslategray;
    border-radius: 3px;
    box-shadow: 3px 3px 3px darkslategray;
    flex: 1 0 150px;
}
aside h3 {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    color: var(--white);
    background-color: darkslategray;
}

aside img {
    margin: 10px auto;
    width: 150px;
    padding: 10px;
}
aside #featuredItemDesc {
    flex: 1 0 150px;
    padding: 5px;
}

footer {
    margin: 0 auto;
}

.dropdown {
    width: 150px;
    background-color: var(--white);
    border: 1px black solid;
    border-radius: 2px;
    box-shadow: 3px 3px 3px darkslategray;
    line-height: 2rem;
    text-align: center;
    display: none;
    position: absolute;
    padding: 0;
    z-index: 2;
}
.dropdown li{
    width: 100%;
    padding: 0;
}
.dropdown li:hover {
    background-color: var(--background-color);
}

.button {
    font-size: 1.2rem;
    border-radius: 5px;
    transition: all .2s;
}
.button:active, .button:hover {
    background-color: darkslategray;
    color: var(--white);
}
