body {
	background-color: green;
	text-align: center;
}
H1 {
	font-size: 3em;
}
#paymentTable {
	background-color: white;
	margin:0 auto;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
#paymentTable .heading{
	width: 250px;
}