body {
    background-color: cadetblue;
    font-family: Raleway;
    margin: 0;
    padding: 0;
}
header {
    background-color: cadetblue;
    height: 75px;
    margin: 0;
    padding-top: 22px;
    padding-left: 25px;
    width:100%;
}
#logo-name {
    display: inline;
    font-size:17px;
    font-weight:400;
    opacity: .75;
}
#logo-name .fa-cat {
    font-size: 40px;
    width: 50px
}
#logo-name h1 {
    display: inline;
}
nav {
    float:right;
    margin-right:30px;
    padding-top:10px;
    display:inline-block;
    width: 350px;
    
}
nav table {
    width:100%;
}
nav td {
    font-size: 20px;
    font-weight:100;
    width: 33.33%;
    text-align:center;

}
a {
    text-decoration: none;
    color:black;
}

nav a:hover {
    font-weight: 400;
    opacity: 1.0;
    color: black;
}

main {
    background-color:silver;
}
main #main-box {
    
    max-width: 1000px;
    width: 90%;
    height: 400px;
    margin: auto;
    padding-top:10px;
    overflow-y:auto
}
footer {
    padding-left: 25px;
    font-weight: 100;
}
/* Responsiveness */
@media (max-width: 810px) {
    #logo-name h1{
        display: none;
    }
    nav {
        width:75%;
    }
}
/* Credentials and Projects */
.entry-box {
    display:block;
    margin-top:30px;
}
.spacer {
    height: 20px;
}
.entry-box img {
    float:left;
}
.entry-text {
    overflow:hidden;
    padding-left:10px;
}
entry-box a:link {
    text-decoration: underline;
}
.entry-box a:hover {
    font-weight: bold;
}